body {
    background-color: #111111;
}

main {
    margin: auto;
    width: 60%;
    background-color: #888888;
    padding: 1em;
}

#content {

}

#title {
    text-align: center;
}

#prev, #next {
    position: absolute;
    font-size: 16pt;
    background-color: #888888;
    padding: 0.75em;
    border-radius: 4px;
}

#prev {
    left: 10%;
}

#next {
    right: 10%;
}